*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
.DS_Store
*.fls
*.fdb_latexmk
main.pdf
*.bak
*.xcp

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/bundle/
.bundle/
Gemfile.lock